<!-- uploaded_image.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Uploaded Image</h1>
  <div class="card" style="width: 18rem;">
    <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.image.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ instance.image.name }}</h5>
      <p class="card-text">Uploaded at: {{ instance.uploaded_at }}</p>
      <p class="card-text">Size: {{ instance.image.size }} bytes</p>
      <p class="card-text">Mime Type: {{ instance.mimetype }}</p>
      <form method="post" action="{% url 'delete_image' instance.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this image?')">
          <i class="bi bi-trash"></i> Delete
        </button>
      </form>
    </div>
  </div>
{% endblock %}

