<!-- view_uploaded_images.html -->
{% extends 'base.html' %}

{% block content %}
  <h1 class="mt-3">View Uploaded Images</h1>
  <div class="row mt-4">
    {% for image in images %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="{{ image.image.url }}" target="_blank">
            <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.image.name }}">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ image.image.name }}</h5>
            <p class="card-text">Uploaded at: {{ image.uploaded_at }}</p>
            <p class="card-text">Mime Type: {{ image.mimetype }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
